body {
  margin: 50px 0px;
  background-color: #111;
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.container {
  width: 600px;
  aspect-ratio: 16/9;
  position: relative;
}

.canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(30px);
}

video {
  border-radius: 15px;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
